[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
grpahviz = "*"

[packages]
pytest-pythonpath = "*"
pytest-cov = "*"
click = "*"
llvmlite = "==0.29.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
